/* CARD */

.card {
	position: relative;
	float: left;
	width: 29%;
	height: 0;
	margin: 2%;
	padding-bottom: 20%;
}

.card__container {
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	/* prevents flicker */

	-webkit-overflow-scrolling: touch;
}

.card__container--closed {
	position: absolute;
	overflow: hidden;
}

.card__image {
	position: relative;
	left: 50%;
	display: block;
	height: 100%;
	max-height: 500px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    transform: translateX(-50%);
    filter: brightness(50%);
}

.card__container--closed .card__image {
	cursor: pointer;
}

.card__content {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 30px 40px 22px;
	color: #888;
	background: #fff;
}

.card__container--closed .card__content {
	margin-top: 0;
	padding: 5px 16px;
	pointer-events: none;
	background: transparent;
}

.card__caption {
	font-size: 2em;
	max-width: 900px;
	margin: 0 auto;
	padding: 35px 30px 0px;
}

.card__container--closed .card__caption {
	font-size: 1em;
	max-width: none;
	padding: 30px 10px;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.card__title {
	font-size: 1.5em;
	line-height: 1;
	margin: 5px 0 0 0;
	color: #3b393d;
}

.card__container--closed .card__title {
	color: #fff;
}

.card__subtitle {
	font-size: .95em;
	line-height: 1;
	margin: 5px 0 0;
	color: #777778;
}

.card__container--closed .card__subtitle {
	color: #f5f5f5;
}

.card__copy {
	font-size: 1.25em;
	max-width: 900px;
	margin: 0 auto;
	padding: 25px 30px 100px;
	color: #3b393d;
}

.card__copy p.first {
	font-size: 1.5em;
	padding: 0 0 1em 0;
}

.card__copy section {
    margin-top: 10rem;
}

.card__copy section:first {
    margin-top: 5rem;
}

.card__copy section.with-image {
    display: grid;
    grid-template-areas: "desc img";
}

.card__copy section.with-image p {
    grid-area: "desc";
    justify-self: start;
    align-self: center;
    width: 200px;
}

.card__copy span.with-image .img-wrapper {
    grid-area: "img";
}

.left {
    margin-left: 5rem;
}

.right {
    margin-right: 5rem;
}

.img-wrapper {
    width: inherit;
    /* position: relative; */
}

.img-cropper {
    width: 500px;
    height: 500px;
    /* position: absolute; */
    overflow: hidden;
    border-radius: 50%;
}

.img {
    margin: 0 auto;
    margin-left: -15%;
    height: 100%;
    width: auto;
}

.card__btn-close {
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 36px;
	cursor: pointer;
}

.card__container--closed .card__btn-close {
	display: none;
}

.meta {
	font-size: .85em;
	display: -webkit-flex;
	display: flex;
	padding: 0 0 35px 0;

	-webkit-align-items: center;
	align-items: center;
}

.card__container--closed .meta {
	visibility: hidden;
}

.meta__avatar {
	width: 100px;
}

.meta__author {
	font-weight: bold;
	padding: 0 15px;
}

.meta__date {
	margin: 0 0 0 auto;
}

.darken {
    animation: 3s darken-animation;
    animation-fill-mode:forwards;
}

.lighten {
    animation: 3s lighten-animation;
    animation-fill-mode:forwards;
}

.table-wrapper {
    display: inline-flex;
}

.table {
    position: relative;
    font-family: lucida sans unicode,lucida grande,Sans-Serif;
    font-size:  12px;
    width: cover;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #6cf;
    margin: 20px
}
.table th {
    font-weight: 400;
    font-size: 13px;
    color: #039;
    text-transform: uppercase;
    border-right: 1px solid #0865c2;
    border-top: 1px solid #0865c2;
    border-left: 1px solid #0865c2;
    border-bottom: 1px solid #fff;
    padding: 20px;
}
.table td {
    color: #669;
    border-right: 1px dashed #6cf;
    padding: 10px 20px;
}

@keyframes darken-animation {
    0% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(50%);
    }
}

@keyframes lighten-animation {
    0% {
        
    }
    100% {
        filter: brightness(100%);
    }
}

.open-button {
    position: absolute;
    cursor: pointer;
    font-size: 2rem;
    bottom: 23px;
    right: 23px;
}

.chat-popup {
    display: none;
    position: absolute;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.open-button i {
    border: 1px solid black;
    border-radius: 50%;
    padding: 15px;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input {
    width: 100%;
    /* padding: 15px; */
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
  
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}
  
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

.close-button {
    background-color: rgb(175, 76, 76) !important;
}

@media only screen and (max-width: 980px) {
	.card {
		width: 46%;
		padding-bottom: 32.2%;
	}
	.card__image {
		max-height: 360px;
	}
	.card__content {
		margin-bottom: 0;
		padding-right: 20px;
		padding-left: 20px;
	}
}

@media only screen and (max-width: 580px) {
	.card {
		width: 96%;
		padding-bottom: 67.2%;
	}
}

@media only screen and (max-width: 400px) {
	.card__caption {
		font-size: 1.25em;
		padding: 35px 0px 0px;
	}
	.meta {
		padding: 0 0 25px 0;
	}
	.card__copy {
		font-size: 90%;
		padding: 25px 0px 100px;
	}
}
