@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	color: #3b393d;
	background: #fff;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	overflow-y: scroll;
}

body.body--hidden {
	overflow: hidden;
}

body.body--hidden .header,
body.body--hidden .content--related {
	opacity: 0;
}

.header,
.content--related {
	-webkit-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
/* Header */

.header {
	padding: 2em 1em;
	text-align: center;
    height: 100vh;
    margin-bottom: 10rem;
}

.header h1 {
	font-size: 5rem;
	font-weight: 400;
	line-height: 1.5;
	margin: .5em 0 0;
}

.header h1 span {
	font-size: .3em;
	display: block;
	padding: .5em 0 1em;
    color: #fff;
    font-weight: 100;
}

.icon {
	display: inline-block;
	width: 1.5em;
	margin: .5em;
	padding: 0em 0;
	text-decoration: none;
}

.icon span {
	display: none;
}

.icon:before {
	font-family: 'codropsicons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	margin: 0 5px;
	text-transform: none;
	-webkit-font-smoothing: antialiased;

	speak: none;
}

.icon--drop:before {
	content: '\e001';
}

.icon--prev:before {
	content: '\e004';
}

.content {
    padding: 1em 0 4em;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color .3s;
	transition: color .3s;
}

.media-item__img {
	max-width: 100%;
	opacity: .3;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	font-size: 1em;
	margin: 0;
	padding: .5em;
}

/* cards wrapper and close btn */

.wrapper {
	overflow: auto;
	width: 95%;
	max-width: 1366px;
    margin: 0 auto;
}

.footer {
    padding: 15px;
    margin-top: 10rem;
    background-color: #8a8a8a;
    color: #f7f7f7;
}

.footer .wrapper {
    display: grid;
    grid-template-columns: 25% 40% 25%;
    justify-content: center;
}

.footer .wrapper section h1 span {
    color: #fff;
}

.footer .wrapper section p {
    font-size: 0.8em;
}

.footer .wrapper section {
    padding: 15px;
}

.footer .wrapper section i {
    font-size: 2rem;
}

.footer span {
	font-size: .3em;
	display: block;
	padding: .5em 0 1em;
    color: #000;
    font-weight: 200;
    text-align: right;
}

#myVideo {
    position: absolute;
    top: 0;
    left:0;
    overflow: hidden;
    z-index: -1; /* for accessing the video by click */
    clip-path: ellipse(100% 55% at 48% 44%);
}

p#disclaimer {
    color: #b9b9b9;
    font-weight: 300;
    font-size: small;
    text-align: center;
}

@media screen and (max-width: 50em) {
	.header {
		padding: 3em 10% 4em;
    }
    
    #myVideo {
        clip-path: none;
    }

    .footer .wrapper section h1 {
        font-size: 1rem;
    }

    .footer .wrapper section p {
        font-size: 0.2rem;
    }
}

@media screen and (max-width: 40em) {
	.header h1 {
		font-size: 2.4em;
		line-height: 1.2;
	}
}
