{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="card">
        <div class="card__container card__container--closed">
            <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                <defs>
                    <clipPath id="clipPath1">
                        <circle class="clip" cx="960" cy="250" r="992"></circle>
                    </clipPath>
                </defs>
                <image clip-path="url(#clipPath1)" width="1920" height="500" xlink:href="{{ url_for('static', filename='images/a.jpg') }}"></image>
            </svg>
            <div class="card__content">
                <i class="card__btn-close fa fa-times"></i>
                <div class="card__caption">
                    <h2 class="card__title">71 The Bridle Path</h2>
                    <p class="card__subtitle">A modern day love story</p>
                </div>
                <div class="card__copy">
                    <div class="meta">
                        <img class="meta__avatar" src="{{ url_for('static', filename='images/authors/1.png') }}" alt="author01" />
                        <span class="meta__author">FOREST HILL REAL ESTATE INC., BROKERAGE</span>
                        <span class="meta__date">$32,000,000</span>
                    </div>
                    <p class="first">Awe-Inspiring In Scale & Grandeur In Toronto's Elite Bridle Path Community.</p>
                    <p></p>
                    <section class="with-image">
                        <p class="right">
                            Breathtaking Foyer With Dramatic Double Staircase & Iconic Handcrafted Detail Welcomes You Into This World-Class Residence. 
                        </p>
                        <div class="img-wrapper left">
                            <div class="img-cropper">
                                <img src="{{ url_for('static', filename='images/a1.jpg') }}" alt="" class="img">
                            </div>
                        </div>
                    </section>
                    <section class="with-image">
                        <div class="img-wrapper right">
                            <div class="img-cropper">
                                <img src="{{ url_for('static', filename='images/a2.jpg') }}" alt="" class="img">
                            </div>
                        </div>
                        <p class="left">
                            Spectacular Great Room With Soaring Ceilings. Brilliant Natural Light.
                        </p>
                    </section>
                    <section class="with-image">
                        <p class="right">
                            Fabulous Master Bedroom Oasis. Timeless Craftsmanship And Exquisitely Proportioned Rooms. Rare Opportunity For Multigenerational Living.
                        </p>
                        <div class="img-wrapper left">
                            <div class="img-cropper">
                                <img src="{{ url_for('static', filename='images/a3.jpg') }}" alt="" class="img">
                            </div>
                        </div>
                    </section>
                    <section>
                        <p>Listed below are the technical details of your future home:</p>
                        <div class="table-wrapper">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">Essential Information</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>MLS®#</td>
                                        <td>C4678024</td>
                                    </tr>
                                    <tr>
                                        <td>Price</td>
                                        <td>$32,000,000</td>
                                    </tr>
                                    <tr>
                                        <td>Bedrooms</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>Bathrooms</td>
                                        <td>13</td>
                                    </tr>
                                    <tr>
                                        <td>Acres</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Type</td>
                                        <td>Residential</td>
                                    </tr>
                                    <tr>
                                        <td>Sub-Type</td>
                                        <td>Detached</td>
                                    </tr>
                                    <tr>
                                        <td>Style</td>
                                        <td>2-Storey</td>
                                    </tr>
                                    <tr>
                                        <td>Status</td>
                                        <td>A</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">Community Information</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Address</td>
                                        <td>71 The Bridle Path</td>
                                    </tr>
                                    <tr>
                                        <td>Area</td>
                                        <td>Toronto</td>
                                    </tr>
                                    <tr>
                                        <td>City</td>
                                        <td>Toronto</td>
                                    </tr>
                                    <tr>
                                        <td>Provice</td>
                                        <td>Ontario</td>
                                    </tr>
                                    <tr>
                                        <td>Postal Code</td>
                                        <td>M3B2B2</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">Amenities</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Parking Spaces</td>
                                        <td>25</td>
                                    </tr>
                                    <tr>
                                        <td># of Garages</td>
                                        <td>6</td>
                                    </tr>
                                    <tr>
                                        <td>Garages</td>
                                        <td>Built-In</td>
                                    </tr>
                                    <tr>
                                        <td>Has Pool</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Pool</td>
                                        <td>Indoor</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>This area boasts a lot of features which includes Spk To La For More Info. Gated Entry To 2-Acre Estate With Manicured Gardens, Outdoor Fireplace, Tennis Court & Custom Fountain. Top Rated Private Schools & Easy Access To Walking/Cycling Trails, Luxury Shopping & Convenient Airport Access.</p>
                    </section>
                    <div class="open-button"><i class="lab la-rocketchat"></i></div>
                    <div class="chat-popup">
                        <div class="form-container">
                            <h1>Contact Us</h1>
                            <label for="name">Name</label>
                            <input type="text">
                            <label for="name">Email</label>
                            <input type="email">
                            <label for="msg"><b>Message</b></label>
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                            <button class="btn">Send</button>
                            <button class="btn close-button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card__container card__container--closed">
            <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                <defs>
                    <clipPath id="clipPath2">
                        <circle class="clip" cx="960" cy="250" r="992"></circle>
                    </clipPath>
                </defs>
                <image clip-path="url(#clipPath2)" width="1920" height="500" xlink:href="{{ url_for('static', filename='images/b.jpg') }}"></image>
            </svg>
            <div class="card__content">
                <i class="card__btn-close fa fa-times"></i>
                <div class="card__caption">
                    <h2 class="card__title">124 Park Rd, Toronto</h2>
                    <p class="card__subtitle">A dream reimagined</p>
                </div>
                <div class="card__copy">
                    <div class="meta">
                        <img class="meta__avatar" src="{{ url_for('static', filename='images/authors/2.png') }}" alt="author02" />
                        <span class="meta__author">LiLiT Hakobyan</span>
                        <span class="meta__date">$19,800,000</span>
                    </div>
                    <p class="first">Geary House, Circa 1857. Perched On One Of The Most Coveted Ravine Lots (0.9 Acre) In South Rosedale Sits This Historic Masterpiece.</p>
                    <p></p>
                    <section class="with-image">
                        <p class="right">
                            Dramatic entrance which welcomes natural light like it's been there forever.
                        </p>
                        <div class="img-wrapper left">
                            <div class="img-cropper">
                                <img src="{{ url_for('static', filename='images/b1.jpg') }}" alt="" class="img">
                            </div>
                        </div>
                    </section>
                    <section class="with-image">
                        <div class="img-wrapper right">
                            <div class="img-cropper">
                                <img src="{{ url_for('static', filename='images/b2.jpg') }}" alt="" class="img">
                            </div>
                        </div>
                        <p class="left">
                            Beautiful study which highlights a classic look for better focus.
                        </p>
                    </section>
                    <section class="with-image">
                        <p class="right">
                            Indoor hockey playing field for a fun past time or competition with the family.
                        </p>
                        <div class="img-wrapper left">
                            <div class="img-cropper">
                                <img src="{{ url_for('static', filename='images/b3.jpg') }}" alt="" class="img">
                            </div>
                        </div>
                    </section>
                    <section>
                        <p>Listed below are the technical details of your future home:</p>
                        <div class="table-wrapper">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">Essential Information</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>MLS®#</td>
                                        <td>c4396461</td>
                                    </tr>
                                    <tr>
                                        <td>Price</td>
                                        <td>$19,800,000</td>
                                    </tr>
                                    <tr>
                                        <td>Bedrooms</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>Bathrooms</td>
                                        <td>9</td>
                                    </tr>
                                    <tr>
                                        <td>Square Footage</td>
                                        <td>5,000</td>
                                    </tr>
                                    <tr>
                                        <td>Type</td>
                                        <td>Residential</td>
                                    </tr>
                                    <tr>
                                        <td>Sub-Type</td>
                                        <td>Detached</td>
                                    </tr>
                                    <tr>
                                        <td>Style</td>
                                        <td>3-Storey</td>
                                    </tr>
                                    <tr>
                                        <td>Status</td>
                                        <td>A</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">Community Information</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Address</td>
                                        <td>124 Park Rd</td>
                                    </tr>
                                    <tr>
                                        <td>Area</td>
                                        <td>Toronto</td>
                                    </tr>
                                    <tr>
                                        <td>City</td>
                                        <td>Toronto</td>
                                    </tr>
                                    <tr>
                                        <td>Provice</td>
                                        <td>Ontario</td>
                                    </tr>
                                    <tr>
                                        <td>Postal Code</td>
                                        <td>M4W2N7</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">Amenities</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Parking Spaces</td>
                                        <td>6</td>
                                    </tr>
                                    <tr>
                                        <td># of Garages</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>Garages</td>
                                        <td>Detached</td>
                                    </tr>
                                    <tr>
                                        <td>Has Pool</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Pool</td>
                                        <td>Inground</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>This property boasts a lot of features which includes The Secluded Yard Features A Well-Appointed Swimming Pool Fully Surrounded By Trees. A Home, That Speaks To Another Century, When Craftsmanship Was Paramount And Design Was Unique Yet Intertwined With All The Modern Conveniences.</p>
                    </section>
                    <div class="open-button"><i class="lab la-rocketchat"></i></div>
                    <div class="chat-popup">
                        <div class="form-container">
                            <h1>Contact Us</h1>
                            <label for="name">Name</label>
                            <input type="text">
                            <label for="name">Email</label>
                            <input type="email">
                            <label for="msg"><b>Message</b></label>
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                            <button class="btn">Send</button>
                            <button class="btn close-button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card__container card__container--closed">
            <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                <defs>
                    <clipPath id="clipPath3">
                        <circle class="clip" cx="960" cy="250" r="992"></circle>
                    </clipPath>
                </defs>
                <image clip-path="url(#clipPath3)" width="1920" height="500" xlink:href="{{ url_for('static', filename='images/c.jpg') }}"></image>
            </svg>
            <div class="card__content">
                <i class="card__btn-close fa fa-times"></i>
                <div class="card__caption">
                    <h2 class="card__title">194 Roxborough Dr, Toronto</h2>
                    <p class="card__subtitle">Simplicity with luxury</p>
                </div>
                <div class="card__copy">
                    <div class="meta">
                        <img class="meta__avatar" src="{{ url_for('static', filename='images/authors/3.png') }}" alt="author02" />
                        <span class="meta__author">CHESTNUT PARK REAL ESTATE LIMITED, BROKERAGE</span>
                        <span class="meta__date">$21,500,000</span>
                    </div>
                    <p class="first">Exciting, Iconic & Renowned Integral House In Prime Rosedale. Built In 2010 By A Worldwide Acclaimed Mathematician.</p>
                    <p></p>
                    <section class="with-image">
                        <p class="right">
                            First impressions last and the first glance feels like art came to life.
                        </p>
                        <div class="img-wrapper left">
                            <div class="img-cropper">
                                <img src="{{ url_for('static', filename='images/c1.jpg') }}" alt="" class="img">
                            </div>
                        </div>
                    </section>
                    <section class="with-image">
                        <div class="img-wrapper right">
                            <div class="img-cropper">
                                <img src="{{ url_for('static', filename='images/c2.jpg') }}" alt="" class="img">
                            </div>
                        </div>
                        <p class="left">
                            Walking across the house shows the symphony between art and mathematics.
                        </p>
                    </section>
                    <section class="with-image">
                        <p class="right">
                            A glorious office at home which helps you relax and focus at the same time.
                        </p>
                        <div class="img-wrapper left">
                            <div class="img-cropper">
                                <img src="{{ url_for('static', filename='images/c3.jpg') }}" alt="" class="img">
                            </div>
                        </div>
                    </section>
                    <section>
                        <p>Listed below are the technical details of your future home:</p>
                        <div class="table-wrapper">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">Essential Information</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>MLS®#</td>
                                        <td>C4425097</td>
                                    </tr>
                                    <tr>
                                        <td>Price</td>
                                        <td>$21,500,000</td>
                                    </tr>
                                    <tr>
                                        <td>Bedrooms</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Bathrooms</td>
                                        <td>8</td>
                                    </tr>
                                    <tr>
                                        <td>Square Footage</td>
                                        <td>5,000</td>
                                    </tr>
                                    <tr>
                                        <td>Type</td>
                                        <td>Residential</td>
                                    </tr>
                                    <tr>
                                        <td>Sub-Type</td>
                                        <td>Detached</td>
                                    </tr>
                                    <tr>
                                        <td>Style</td>
                                        <td>Other</td>
                                    </tr>
                                    <tr>
                                        <td>Status</td>
                                        <td>A</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">Community Information</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Address</td>
                                        <td>194 Roxborough Dr</td>
                                    </tr>
                                    <tr>
                                        <td>Area</td>
                                        <td>Toronto</td>
                                    </tr>
                                    <tr>
                                        <td>City</td>
                                        <td>Toronto</td>
                                    </tr>
                                    <tr>
                                        <td>Provice</td>
                                        <td>Ontario</td>
                                    </tr>
                                    <tr>
                                        <td>Postal Code</td>
                                        <td>M4W1X8</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">Amenities</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Parking Spaces</td>
                                        <td>6</td>
                                    </tr>
                                    <tr>
                                        <td># of Garages</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>Garages</td>
                                        <td>Built-In</td>
                                    </tr>
                                    <tr>
                                        <td>Has Pool</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Pool</td>
                                        <td>Indoor</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>This property boasts a lot of features which includes 5 Indulgent Levels On A Dramatic Hillside, With E.L.E.V.A.T.O.R. Forward Thinkers Will Find The Imagination Soars And Feeds The Soul Behind The Undulating And Curvilinear Walls Of Glass. Amazing Spa, Resistance Pool, Steam & Sauna.</p>
                    </section>
                    <div class="open-button"><i class="lab la-rocketchat"></i></div>
                    <div class="chat-popup">
                        <div class="form-container">
                            <h1>Contact Us</h1>
                            <label for="name">Name</label>
                            <input type="text">
                            <label for="name">Email</label>
                            <input type="email">
                            <label for="msg"><b>Message</b></label>
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                            <button class="btn">Send</button>
                            <button class="btn close-button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}