<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Toronto Homes</title>
	<meta name="keywords" content="clipPath, svg, effect, layout, expansion, images, grid, polygon" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.3.0/css/font-awesome.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pattern.css') }}" />
</head>

<body class="body">
    <div id="myVideo">
        <video autoplay muted loop width="640" height="360">
            <source src="{{ url_for('static', filename='images/bg.mp4') }}" type="video/mp4">
        </video>
    </div>
	<div class="container">
		<header class="header">
			<h1 class="logo-text"><strong>Toronto Homes</strong><span>Where dreams come home.</span></h1>
		</header>
		<div class="content">
			<div class="pattern pattern--hidden"></div>
            <div class="wrapper">
                <section class="wrapper-header">
                    <h1>The homes for your dreams</h1>
                </section>
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer class="footer">
            <div class="wrapper">
                <section>
                    <h1>Toronto Homes <span>Where dreams come home.</span></h1>
                    <p>8854 Yonge Street Richmond Hill, ON, L4C 0T4</p>
                    <p>Help us guide your dream: 647-367-7010 results@lilithomes.com</p>
                </section>
                <section>
                    <h1>About Us</h1>
                    <p>We are a luxurious real estate business which aims to a higher standard of selling properties for our customers. Finding your dream home is our job to which we'll see to it that we find the home for your dream.</p>
                </section>
                <section>
                    <h1>Follow Us</h1>
                    <i class="lab la-facebook"></i>
                    <i class="lab la-twitter"></i>
                    <i class="lab la-instagram"></i>
                    <i class="lab la-linkedin"></i>
                </section>
                <section></section>
            </div>
            <p id="disclaimer">
                DISCLAIMER! This website is developed as my first task for my internship with Digitelly. Any action that you will do in this website will not reflect in real life and you cannot hold anyone but yourself accountable for any damage done through this website.
            </p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/vendors/trianglify.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendors/TweenMax.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendors/ScrollToPlugin.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendors/cash.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/Card-circle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        var min_w = 300; // minimum video width allowed
        var vid_w_orig;  // original video dimensions
        var vid_h_orig;
        
        jQuery(function() { // runs after DOM has loaded
            
            vid_w_orig = parseInt(jQuery('video').attr('width'));
            vid_h_orig = parseInt(jQuery('video').attr('height'));
            
            jQuery(window).resize(function () { resizeToCover(); });
            jQuery(window).trigger('resize');

            $('.open-button').each((element) => {
                element.onclick = (event) => {
                    element.parentElement.querySelector('.chat-popup').style.display = "block";
                }
            });

            $('.close-button').each((element) => {
                element.onclick = (event) => {
                    element.parentElement.parentElement.style.display = "none";
                }
            });
        });
        
        function resizeToCover() {
            
            // set the video viewport to the window size
            jQuery('#myVideo').width(jQuery(window).width());
            jQuery('#myVideo').height(jQuery(window).height());
        
            // use largest scale factor of horizontal/vertical
            var scale_h = jQuery(window).width() / vid_w_orig;
            var scale_v = jQuery(window).height() / vid_h_orig;
            var scale = scale_h > scale_v ? scale_h : scale_v;
        
            // don't allow scaled width < minimum video width
            if (scale * vid_w_orig < min_w) {scale = min_w / vid_w_orig;};
        
            // now scale the video
            jQuery('video').width(scale * vid_w_orig);
            jQuery('video').height(scale * vid_h_orig);
            // and center it by scrolling the video viewport
            jQuery('#myVideo').scrollLeft((jQuery('video').width() - jQuery(window).width()) / 2);
            jQuery('#myVideo').scrollTop((jQuery('video').height() - jQuery(window).height()) / 2);
        };
    </script>
</body>

</html>